//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Landing' // page title
- MenuTitle = 'Landing' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'hide' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button-3' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'false' // true / false
- NavbarFixed = 'true' // true / false
- NavbarSolid = 'false' // true / false
- NavbarOpaque = 'true' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.pt-180.pb-290.bg-linear-gradient.shape-parent.text-center

				// Shape
				.shape.justify-content-start

					img(loading="lazy", src="assets/img/root/landing-shape-958x571.png", alt="", width="958", height="571")

				// Shape
				.shape.justify-content-end.align-items-end

					img(loading="lazy", src="assets/img/root/landing-shape-487x422.png", alt="", width="487", height="422")

				.container

					.row

						.col-lg-8.offset-lg-2

							h1.mb-30.px-lg-30(data-show="startbox") #[span.highlight Open the Startbox] Now. Build your future.

							p.mb-0.fw-medium.font-size-18.px-lg-70(data-show="startbox", data-show-delay="100") Corporate template for business, portfolio, agencies, freelancers & blog. Creative design, modern and thoughtful functionality.

			.pb-130.mt-n180.text-center

				.container

					.row.gy-50

						.col-lg-5.offset-lg-1(data-show="startbox")

							+card_demo({
								title: "Main Corporate",
								image: "assets/img/landing/home-1.jpg",
								link: "home-01.html"
							})

						.col-lg-5(data-show="startbox", data-show-delay="100")

							+card_demo({
								title: "IT Company",
								image: "assets/img/landing/home-2.jpg",
								link: "home-02.html"
							})

						.col-lg-5.offset-lg-1(data-show="startbox")

							+card_demo({
								title: "Construction",
								image: "assets/img/landing/home-3.jpg",
								link: "home-03.html"
							})

						.col-lg-5(data-show="startbox", data-show-delay="100")

							+card_demo({
								title: "Finance & Consulting",
								image: "assets/img/landing/home-4.jpg",
								link: "home-04.html"
							})

						.col-lg-5.offset-lg-1(data-show="startbox")

							+card_demo({
								title: "SaaS Application",
								image: "assets/img/landing/home-5.jpg",
								link: "home-05.html"
							})

						.col-lg-5(data-show="startbox", data-show-delay="100")

							+card_demo({
								title: "Creative Agency",
								image: "assets/img/landing/home-6.jpg",
								link: "home-06.html"
							})

					.text-center.mt-70(data-show="startbox")

						+button({
							title: "Get Startbox"
						})

			.pt-120.pb-130.bg-dark.shape-parent.text-center

				// Shape
				.shape.justify-content-end

					img(loading="lazy", src="assets/img/root/landing-shape-542x382.png", alt="", width="542", height="382")

				// Shape
				.shape.align-items-end

					img(loading="lazy", src="assets/img/root/lanidng-shape-309x435.png", alt="", width="309", height="435")

				.container

					.row

						.col-lg-6.offset-lg-3

							h2.m-0.text-white(data-show="startbox") Practical Inner pages for everything you may need

					.swiper.mt-75(data-swiper-slides="1", data-swiper-breakpoints="828:2, 1024:3", data-swiper-loop="true", data-swiper-gap="30", data-swiper-grabcursor="true", data-show="startbox", data-show-delay="100")

						.swiper-container

							.swiper-wrapper

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Services V.1",
										image: "assets/img/landing/page-1.jpg",
										link: "services-01.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Services V.2",
										image: "assets/img/landing/page-2.jpg",
										link: "services-02.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Service Single",
										image: "assets/img/landing/page-3.jpg",
										link: "service-single.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "About Us",
										image: "assets/img/landing/page-4.jpg",
										link: "about-us.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "About Me",
										image: "assets/img/landing/page-5.jpg",
										link: "about-me.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Pricing Plans",
										image: "assets/img/landing/page-6.jpg",
										link: "pricing.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Team Members",
										image: "assets/img/landing/page-7.jpg",
										link: "team.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "404 Page",
										image: "assets/img/landing/page-8.jpg",
										link: "404.html",
										customClass: "text-white"
									})

								.swiper-slide.pt-15

									+card_demo({
										topbarClass: "browser-topbar-dark",
										title: "Coming Soon",
										image: "assets/img/landing/page-9.jpg",
										link: "coming-soon.html",
										customClass: "text-white"
									})

						.d-flex.mt-70.justify-content-center

							.swiper-button-prev.swiper-button-position-2.swiper-button-dark.shadow

								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

							.swiper-button-next.swiper-button-position-2.swiper-button-dark.shadow

								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

			.pt-120.pb-130

				.container

					.row.align-items-center.gy-90

						.col-lg-6

							// Slider
							.swiper.me-lg-70.rounded-4.shadow(data-swiper-slides="1", data-swiper-effect="fade", data-show="startbox")

								.swiper-container

									.swiper-wrapper

										.swiper-slide

											+card_demo({
												image: "assets/img/landing/work-1.jpg",
												imageClass: "rounded-4 overflow-hidden no-transform",
												topbar: "hide"
											})

										.swiper-slide

											+card_demo({
												image: "assets/img/landing/work-2.jpg",
												imageClass: "rounded-4 overflow-hidden no-transform",
												topbar: "hide"
											})

										.swiper-slide

											+card_demo({
												image: "assets/img/landing/work-3.jpg",
												imageClass: "rounded-4 overflow-hidden no-transform",
												topbar: "hide"
											})

										.swiper-slide

											+card_demo({
												image: "assets/img/landing/work-4.jpg",
												imageClass: "rounded-4 overflow-hidden no-transform",
												topbar: "hide"
											})

										.swiper-slide

											+card_demo({
												image: "assets/img/landing/work-5.jpg",
												imageClass: "rounded-4 overflow-hidden no-transform",
												topbar: "hide"
											})

								.swiper-button-prev.swiper-button-position-1.swiper-button-white.shadow

									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

								.swiper-button-next.swiper-button-position-1.swiper-button-white.shadow

									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

						.col-lg-6

							.me-lg-70.ms-lg-70

								h3.mb-30(data-show="startbox", data-show-delay="100") Present your Work in a unique way

								p.mb-45(data-show="startbox", data-show-delay="200") Startbox has various Portfolio and Project pages with creative styles that make it easy for you to showcase your work or services.

								div(data-show="startbox", data-show-delay="300")

									+button({
										title: "View pages",
										link: "projects-01.html",
										customClass: "btn-accent-1 btn-link btn-clean"
									})

				.container.mt-130

					.row.align-items-center.gy-90

						.col-lg-5

							h3.mb-30(data-show="startbox") Create your Blog

							p.mb-45(data-show="startbox", data-show-delay="100") Need a Blog? Not a problem! With Startbox, you can present your blog as the template includes a Blog page and a Post to keep your Customers up to date with the latest news.

							div(data-show="startbox", data-show-delay="200")

								+button({
									title: "View pages",
									link: "blog.html",
									customClass: "btn-accent-1 btn-link btn-clean"
								})

						.col-lg-7

							.position-relative.shape-parent.mx-lg-100.me-70

								// Shape
								.shape.justify-content-end.mt-n40.me-n45.text-dark(data-jarallax-element="40")

									include partials/_shape.pug

								+card_demo({
									image: "assets/img/landing/blog-1.jpg",
									link: "blog.html",
									imageClass: "rounded-4 overflow-hidden no-transform",
									topbar: "hide"
								})

							.position-relative.shape-parent.mt-n65.ms-lg-300.ms-150

								+card_demo({
									image: "assets/img/landing/blog-2.jpg",
									link: "single-post.html",
									imageClass: "rounded-4 overflow-hidden no-transform",
									topbar: "hide"
								})

			.pt-120.pb-130.bg-gray-light.footerPrev

				.container

					h2.text-center.mb-90(data-show="startbox") Startbox Features

					// Isotope
					.isotope.mb-100

						.row.isotope-grid.g-30

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none"><path fill="currentColor" d="M11.39 27h7.818c4.06 0 6.498-2.043 6.498-5.391 0-2.48-1.712-4.311-4.284-4.577v-.224c1.872-.316 3.335-2.093 3.335-4.086 0-2.925-2.149-4.748-5.72-4.748H11.39V27Zm2.954-10.969v-5.55h4.005c2.189 0 3.47 1.028 3.47 2.783 0 1.804-1.36 2.767-3.97 2.767h-3.505Zm0 8.465v-6.131h4.1c2.78 0 4.245 1.041 4.245 3.033 0 2.015-1.41 3.098-4.075 3.098h-4.27Z"/><path fill="#fff" d="M0 9a9 9 0 0 1 9-9h18a9 9 0 0 1 9 9v18a9 9 0 0 1-9 9H9a9 9 0 0 1-9-9V9Zm9-6.75A6.75 6.75 0 0 0 2.25 9v18A6.75 6.75 0 0 0 9 33.75h18A6.75 6.75 0 0 0 33.75 27V9A6.75 6.75 0 0 0 27 2.25H9Z"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Bootstrap 5",
									text: "Startbox based on Bootstrap 5, so layout changes is so much easily.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="100")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M26.125 2.375h-14.25A2.375 2.375 0 0 0 9.5 4.75V19a1.188 1.188 0 0 1-2.375 0V4.75A4.75 4.75 0 0 1 11.875 0h14.25a4.75 4.75 0 0 1 4.75 4.75V19a1.188 1.188 0 0 1-2.375 0V4.75a2.375 2.375 0 0 0-2.375-2.375ZM28.5 33.25a2.375 2.375 0 0 1-2.375 2.375h-14.25A2.375 2.375 0 0 1 9.5 33.25V28.5a1.188 1.188 0 0 0-2.375 0v4.75a4.75 4.75 0 0 0 4.75 4.75h14.25a4.75 4.75 0 0 0 4.75-4.75V28.5a1.188 1.188 0 0 0-2.375 0v4.75ZM4.068 18.89a1.188 1.188 0 0 0-.995-2.156c-.824.38-1.553.827-2.095 1.354-.541.537-.978 1.242-.978 2.1 0 1.296.969 2.232 1.955 2.852C3 23.7 4.432 24.25 6.099 24.693c3.349.893 7.909 1.432 12.901 1.432.235 0 .468 0 .698-.005l-2.726 2.727a1.188 1.188 0 1 0 1.681 1.681l4.75-4.75a1.186 1.186 0 0 0 0-1.681l-4.75-4.75a1.188 1.188 0 1 0-1.681 1.681l2.72 2.717-.692.005c-4.845 0-9.191-.525-12.288-1.351-1.558-.416-2.734-.889-3.491-1.366-.817-.515-.846-.831-.846-.846 0-.007 0-.14.266-.403.273-.266.736-.575 1.425-.893h.002Zm30.859-2.156a1.188 1.188 0 0 0-.995 2.157c.693.318 1.154.627 1.425.895.268.261.268.394.268.401 0 .008 0 .155-.309.445-.313.29-.836.617-1.608.95-1.532.665-3.79 1.242-6.562 1.631a1.187 1.187 0 0 0 .333 2.351c2.878-.403 5.367-1.02 7.172-1.8.903-.39 1.694-.848 2.28-1.394.585-.544 1.069-1.275 1.069-2.183 0-.86-.437-1.567-.978-2.097-.542-.53-1.271-.976-2.095-1.356ZM17.813 4.75a1.188 1.188 0 0 0 0 2.375h2.375a1.188 1.188 0 0 0 0-2.375h-2.375Z" clip-rule="evenodd"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Fully Responsive",
									text: "Startbox has a fully responsive design. It fits perfectly on various displays and resolutions.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="200")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="none"><path fill="currentColor" d="M10.938 4.375V0H0v10.938h4.375v13.124H0V35h10.938v-4.375h13.124V35H35V24.062h-4.375V10.938H35V0H24.062v4.375H10.938Zm13.124 2.188v4.375h4.375v13.124h-4.375v4.375H10.938v-4.375H6.564V10.938h4.375V6.564h13.124Zm2.188-4.375h6.563V8.75H26.25V2.187Zm6.563 24.062v6.563H26.25V26.25h6.563ZM8.75 32.813H2.187V26.25H8.75v6.563ZM2.187 8.75V2.187H8.75V8.75H2.187Z"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Flexible Components",
									text: "Make your site look the way you want it to by customizing it using our tools & settings.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="300")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="39" height="30" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M14.625 3.75a3.8 3.8 0 0 1 1.07-2.652A3.61 3.61 0 0 1 18.282 0h2.438c.97 0 1.9.395 2.585 1.098a3.8 3.8 0 0 1 1.071 2.652v2.5a3.8 3.8 0 0 1-1.07 2.652A3.61 3.61 0 0 1 20.718 10v2.5h13.406c.323 0 .633.132.862.366.228.235.357.553.357.884v2.5c0 .331-.129.65-.357.884a1.204 1.204 0 0 1-.862.366c-.323 0-.633-.132-.862-.366a1.267 1.267 0 0 1-.357-.884V15H20.72v1.25c0 .331-.129.65-.357.884a1.204 1.204 0 0 1-.862.366c-.323 0-.633-.132-.862-.366a1.267 1.267 0 0 1-.357-.884V15H6.094v1.25c0 .331-.129.65-.357.884a1.204 1.204 0 0 1-.862.366c-.323 0-.633-.132-.862-.366a1.266 1.266 0 0 1-.357-.884v-2.5c0-.332.129-.65.357-.884.229-.234.539-.366.862-.366h13.406V10c-.97 0-1.9-.395-2.585-1.098a3.8 3.8 0 0 1-1.071-2.652v-2.5Zm6.094 3.75c.323 0 .633-.132.861-.366.23-.235.358-.552.358-.884v-2.5c0-.332-.129-.65-.357-.884a1.203 1.203 0 0 0-.862-.366H18.28c-.323 0-.633.132-.861.366a1.266 1.266 0 0 0-.358.884v2.5c0 .332.129.65.357.884.229.234.539.366.862.366h2.438ZM0 23.75c0-.995.385-1.948 1.07-2.652A3.61 3.61 0 0 1 3.657 20h2.438c.97 0 1.9.395 2.585 1.098A3.799 3.799 0 0 1 9.75 23.75v2.5a3.8 3.8 0 0 1-1.07 2.652A3.61 3.61 0 0 1 6.093 30H3.656c-.97 0-1.9-.395-2.585-1.098A3.8 3.8 0 0 1 0 26.25v-2.5Zm3.656-1.25c-.323 0-.633.132-.862.366a1.266 1.266 0 0 0-.357.884v2.5c0 .331.129.65.357.884.229.234.539.366.862.366h2.438c.323 0 .633-.132.862-.366.228-.235.356-.553.356-.884v-2.5c0-.331-.128-.65-.356-.884a1.204 1.204 0 0 0-.862-.366H3.656Zm10.969 1.25c0-.995.385-1.948 1.07-2.652A3.61 3.61 0 0 1 18.282 20h2.438c.97 0 1.9.395 2.585 1.098a3.799 3.799 0 0 1 1.071 2.652v2.5a3.8 3.8 0 0 1-1.07 2.652A3.61 3.61 0 0 1 20.718 30H18.28c-.97 0-1.9-.395-2.585-1.098a3.8 3.8 0 0 1-1.071-2.652v-2.5Zm3.656-1.25c-.323 0-.633.132-.861.366a1.266 1.266 0 0 0-.358.884v2.5c0 .331.129.65.357.884.229.234.539.366.862.366h2.438c.323 0 .633-.132.861-.366.23-.235.358-.553.358-.884v-2.5c0-.331-.129-.65-.357-.884a1.203 1.203 0 0 0-.862-.366H18.28Zm10.969 1.25c0-.995.385-1.948 1.07-2.652A3.61 3.61 0 0 1 32.907 20h2.438c.97 0 1.9.395 2.585 1.098A3.799 3.799 0 0 1 39 23.75v2.5a3.8 3.8 0 0 1-1.07 2.652A3.61 3.61 0 0 1 35.343 30h-2.438c-.97 0-1.9-.395-2.585-1.098a3.8 3.8 0 0 1-1.071-2.652v-2.5Zm3.656-1.25c-.323 0-.633.132-.861.366a1.266 1.266 0 0 0-.358.884v2.5c0 .331.129.65.357.884.229.234.539.366.862.366h2.438c.323 0 .633-.132.861-.366.23-.235.358-.553.358-.884v-2.5c0-.331-.129-.65-.358-.884a1.203 1.203 0 0 0-.861-.366h-2.438Z" clip-rule="evenodd"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Workflow (Tools)",
									text: "Automate your time-consuming tasks such as compiling SASS, minify CSS, JavaScript files and more.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="400")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M0 1.1C0 .808.115.528.32.322A1.09 1.09 0 0 1 1.094 0h8.75c.29 0 .568.116.773.322A1.103 1.103 0 0 1 9.844 2.2h-8.75a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 1.1Zm0 4.4c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h15.312c.29 0 .569.116.774.322a1.103 1.103 0 0 1-.774 1.878H1.094a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 5.5Zm19.688 0c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .773-.322H31.72c.29 0 .568.116.773.322A1.103 1.103 0 0 1 31.72 6.6H20.78a1.09 1.09 0 0 1-.773-.322 1.103 1.103 0 0 1-.32-.778ZM0 9.9c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h6.562c.29 0 .569.116.774.322a1.103 1.103 0 0 1 0 1.556 1.09 1.09 0 0 1-.774.322H1.094a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 9.9Zm10.938 0c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .773-.322H22.97c.29 0 .568.116.773.322A1.103 1.103 0 0 1 22.97 11H12.03a1.09 1.09 0 0 1-.773-.322 1.103 1.103 0 0 1-.32-.778Zm15.312 0c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h6.562c.29 0 .569.116.774.322A1.103 1.103 0 0 1 33.906 11h-6.562a1.09 1.09 0 0 1-.774-.322 1.103 1.103 0 0 1-.32-.778ZM0 14.3c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h13.125c.29 0 .568.116.773.322a1.103 1.103 0 0 1-.773 1.878H1.094a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 14.3Zm17.5 0c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322H29.53c.29 0 .569.116.774.322a1.103 1.103 0 0 1-.774 1.878H18.594a1.09 1.09 0 0 1-.774-.322 1.103 1.103 0 0 1-.32-.778ZM0 18.7c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322H12.03c.29 0 .569.116.774.322a1.103 1.103 0 0 1-.774 1.878H1.094a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 18.7Zm15.313 0c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .773-.322H31.72c.29 0 .568.116.773.322a1.103 1.103 0 0 1-.773 1.878H16.406a1.09 1.09 0 0 1-.773-.322 1.103 1.103 0 0 1-.32-.778ZM0 23.1c0-.292.115-.572.32-.778A1.09 1.09 0 0 1 1.094 22h17.5c.29 0 .568.116.773.322a1.103 1.103 0 0 1-.773 1.878h-17.5a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 23.1Zm0 4.4c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h8.75c.29 0 .568.116.773.322a1.103 1.103 0 0 1-.773 1.878h-8.75a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 27.5Zm0 4.4c0-.292.115-.572.32-.778a1.09 1.09 0 0 1 .774-.322h4.375c.29 0 .568.116.773.322a1.103 1.103 0 0 1 0 1.556A1.09 1.09 0 0 1 5.47 33H1.094a1.09 1.09 0 0 1-.774-.322A1.103 1.103 0 0 1 0 31.9Z" clip-rule="evenodd"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Snippets",
									text: "Start building unique pages with ready-to-use combined components.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="500")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="29" height="38" fill="none"><path fill="currentColor" d="M21.397 18.653a1.178 1.178 0 0 0 0-1.681 1.22 1.22 0 0 0-1.71 0l-6.395 6.286-2.77-2.724a1.22 1.22 0 0 0-1.71 0 1.178 1.178 0 0 0 0 1.682l3.624 3.562a1.208 1.208 0 0 0 .856.35 1.226 1.226 0 0 0 .855-.35l7.25-7.125Z"/><path fill="#fff" d="M29 33.25V10.687L18.125 0H4.833c-1.282 0-2.51.5-3.417 1.391A4.709 4.709 0 0 0 0 4.75v28.5c0 1.26.51 2.468 1.416 3.359A4.877 4.877 0 0 0 4.833 38h19.334c1.281 0 2.51-.5 3.417-1.391A4.709 4.709 0 0 0 29 33.25ZM18.125 7.125c0 .945.382 1.851 1.062 2.52a3.658 3.658 0 0 0 2.563 1.043h4.833V33.25c0 .63-.254 1.234-.707 1.68a2.438 2.438 0 0 1-1.71.695H4.834c-.64 0-1.255-.25-1.709-.696a2.354 2.354 0 0 1-.707-1.679V4.75c0-.63.254-1.234.707-1.68a2.438 2.438 0 0 1 1.71-.695h13.291v4.75Z"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Documentation",
									text: "Find out detailed guidelines for everything you see in Front.",
									textClass: "font-size-15 mb-0",
									link: "https://runwebrun.com/startbox/docs/",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="600")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="32" fill="none"><path fill="currentColor" d="M30.618 13.332H41.32a.69.69 0 0 1 .365.105c.109.068.196.165.25.28a.656.656 0 0 1-.093.71l-5.35 6.295a.677.677 0 0 1-.523.24.693.693 0 0 1-.523-.24l-5.35-6.296a.66.66 0 0 1 .157-.99.69.69 0 0 1 .365-.104ZM.68 18.668h10.702a.69.69 0 0 0 .365-.105.655.655 0 0 0 .157-.99l-5.35-6.295a.678.678 0 0 0-.523-.24.693.693 0 0 0-.523.24l-5.35 6.296a.66.66 0 0 0 .157.99.69.69 0 0 0 .365.104Z"/><path fill="#fff" fill-rule="evenodd" d="M21 2.662c-4.224 0-8.002 1.886-10.497 4.85a1.353 1.353 0 0 1-.926.51 1.387 1.387 0 0 1-1.018-.296 1.34 1.34 0 0 1-.49-.923 1.31 1.31 0 0 1 .335-.988A16.354 16.354 0 0 1 16.021.76a16.652 16.652 0 0 1 9.195-.218 16.395 16.395 0 0 1 7.858 4.685 15.887 15.887 0 0 1 4.03 8.104h-2.768a13.302 13.302 0 0 0-4.729-7.663A13.785 13.785 0 0 0 21 2.662ZM7.664 18.668a13.258 13.258 0 0 0 3.51 6.557 13.68 13.68 0 0 0 6.535 3.714c2.493.609 5.11.514 7.55-.274a13.626 13.626 0 0 0 6.238-4.177 1.352 1.352 0 0 1 .926-.51 1.386 1.386 0 0 1 1.018.296 1.339 1.339 0 0 1 .49.924 1.31 1.31 0 0 1-.335.987 16.353 16.353 0 0 1-7.617 5.053 16.651 16.651 0 0 1-9.195.22 16.395 16.395 0 0 1-7.858-4.686 15.886 15.886 0 0 1-4.03-8.104h2.768Z" clip-rule="evenodd"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Free Updates",
									text: "Download the latest version anytime and keep your website up-to-date.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

							.isotope-item.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="700")

								+service_box({
									style: "small",
									icon: '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="34" fill="none"><path fill="currentColor" d="M31.5 2.223c.597 0 1.169.234 1.591.651.422.417.659.983.659 1.573v17.786a2.21 2.21 0 0 1-.659 1.572 2.264 2.264 0 0 1-1.591.65H9.931A4.528 4.528 0 0 0 6.75 25.76l-4.5 4.446V4.447c0-.59.237-1.156.659-1.573a2.264 2.264 0 0 1 1.591-.65h27ZM4.5 0a4.528 4.528 0 0 0-3.182 1.302A4.42 4.42 0 0 0 0 4.447v28.442c0 .22.066.435.19.617.124.183.3.326.505.41a1.138 1.138 0 0 0 1.227-.243L8.34 27.33a2.264 2.264 0 0 1 1.59-.65H31.5a4.528 4.528 0 0 0 3.182-1.303A4.42 4.42 0 0 0 36 22.233V4.447a4.42 4.42 0 0 0-1.318-3.145A4.528 4.528 0 0 0 31.5 0h-27Z"/><path fill="#fff" d="M6.75 7.781c0-.294.119-.577.33-.786.21-.208.497-.325.795-.325h20.25c.298 0 .584.117.796.325a1.105 1.105 0 0 1 0 1.572 1.132 1.132 0 0 1-.796.326H7.875c-.298 0-.585-.117-.795-.326a1.105 1.105 0 0 1-.33-.786Zm0 5.558c0-.294.119-.577.33-.786.21-.208.497-.325.795-.325h20.25c.298 0 .584.117.796.325a1.105 1.105 0 0 1 0 1.573 1.132 1.132 0 0 1-.796.325H7.875c-.298 0-.585-.117-.795-.325a1.105 1.105 0 0 1-.33-.787Zm0 5.559c0-.295.119-.578.33-.786.21-.209.497-.326.795-.326h11.25c.298 0 .584.117.796.326a1.105 1.105 0 0 1 0 1.572 1.132 1.132 0 0 1-.796.325H7.875c-.298 0-.585-.117-.795-.325a1.105 1.105 0 0 1-.33-.786Z"/></svg>',
									iconClass: "text-white bg-accent-1 mb-30",
									title: "Customer Support",
									text: "Top-notch support from core team in direct contact with you to resolve issues.",
									textClass: "font-size-15 mb-0",
									link: "#",
									customClass: "position-relative rounded-4 bg-white text-center"
								})

					.row.gy-30

						// Items
						.col-12.col-md-6.col-lg-3(data-show="startbox")

							ul.list.m-0.fw-medium.font-size-15

								li.active Modular markup based on Cards & Utility classes
								li.active.mt-30 Gulp based workflow
								li.active.mt-30 We provided a source Figma file with Startbox
								li.active.mt-30 Different types of Header & Footer styles

						// Items
						.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="100")

							ul.list.m-0.fw-medium.font-size-15

								li.active W3C validated HTMLpages
								li.active.mt-30 Lightbox (Pop-ups) for images and videos
								li.active.mt-30 High usability, organizing content, as per latest design trends
								li.active.mt-30 Free Google Fonts

						// Items
						.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="200")

							ul.list.m-0.fw-medium.font-size-15

								li.active 100+ sets of UI Components
								li.active.mt-30 Customizable HTML5, YouTube and Vimeo media player includes
								li.active.mt-30 6 Homepage variations
								li.active.mt-30 Creative & Functional Inner pages

						// Items
						.col-12.col-md-6.col-lg-3(data-show="startbox", data-show-delay="300")

							ul.list.m-0.fw-medium.font-size-15

								li.active All images are included in your download package
								li.active.mt-30 Cross browser tested & optimized
								li.active.mt-30 Portfolio, Projects, Blog & Post pages included
								li.active.mt-30 Google Maps

			include template-parts/sections/_call-to-action-6.pug

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug