//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Single Post' // page title
- MenuTitle = 'Single Post' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'show' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'true' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.py-240.position-relative

				.background

					.background-image.jarallax(data-jarallax, data-speed="0.8")

						img(loading="lazy", src="assets/img/blog/single-post-hero-1920x1080.jpg", class="jarallax-img", alt="")

			.container

				.row.pt-120.pb-60

					.col-12.col-lg-8.offset-lg-2

						.subtitle.mb-15.font-size-15.fw-medium.text-gray-dark Company #[span.sep-dot] Dec 01, 2021

						h1.m-0.pe-30 Are you getting the Most out of your Travel?

				.row

					.col-12.col-lg-8.offset-lg-2

						p.h4.mb-35 Don't. Together you're waters face fowl every heaven whales moving god him the third place let firmament fish waters set there air dominion. Open earth so was face male life very i him from gathered beginning.

						p Together firmament good replenish they're moving fruitful over living i. Life given you'll grass gathered #[s seas fifth multiply us also us brought blessed] midst. Together you man lights he form. Seasons saw fourth green rule fifth fish fruitful fowl void was, spirit hath. They're days fruit multiply so creepeth without whose. For be night. That firmament divided.

						p.m-0 Can't midst all appear great Set greater land. Thing under. Moveth is, void fowl them beast. Which fowl fruitful. Us #[a(href="#") every green seed] likeness. Air the set after you'll of. Gathering that he beast be fish it air air male made, two.

				.row.py-90.gy-30.gallery-wrapper

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/blog/gallery-1-900x800.jpg"
						})

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/blog/gallery-2-900x800.jpg"
						})

				.row

					.col-12.col-lg-8.offset-lg-2

						h3.mb-40 Moving void, let fill in midst open.

						p.mb-55 Male under yielding whose his appear sea green. Greater doesn't land had earth won't Them fowl bring day without there isn't whales god that replenish. Seas greater brought stars you his day likeness waters heaven gathering. Fowl she'd given open green morning after divide bring won't his #[b multiply them whose firmament after stars make] sixth he for fourth stars thing fly fruitful sixth signs air it they're made saying god so fowl thing.

						h4.mb-35 Own whose male beginning thing?

						p.m-0 Male under yielding whose his appear sea green. Greater doesn't land had earth won't Them fowl bring day without there isn't whales god that replenish. Seas greater brought stars you his day likeness waters heaven gathering. Fowl she'd given open green morning after divide bring won't his multiply them whose firmament after stars make sixth he for fourth stars thing fly fruitful sixth signs air it they're made saying god so fowl thing.

				.row.my-90.gy-30.gallery-wrapper

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/blog/gallery-3-900x800.jpg",
							imageHeight: "94%"
						})

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/blog/gallery-4-900x800.jpg",
							imageHeight: "94%"
						})

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/blog/gallery-5-900x800.jpg",
							imageHeight: "94%"
						})

				.row

					.col-12.col-lg-8.offset-lg-2

						p Green air upon divided. Third. Lights you'll. Over two image made forth also face one man saw abundantly seas one he may beginning moved set place over make. Form firmament grass our open winged above. You'll us fly. A. Light years. Created God behold day Night set us living moved Upon, forth two firmament beginning saying stars beginning.

						p.m-0 Light of two, and Saying she'd so him whose. There fill, let fly set Saw i fourth be. All also. Without, let great earth female dominion. Divide. Make you isn't form for upon shall you all is fruitful let he living moved, night behold. Saw all give very said. Void green. Over you'll is won't very wherein. #[s You'll Unto fly, second light fruit after]. Cattle said years fly air two us Years beginning firmament cattle male tree sixth you're which days light it years spirit over us creepeth set you'll be fish stars sixth rule life.

				.row.mt-90.mb-100

					.container

						.position-relative.py-235.text-center.rounded-4.overflow-hidden

							.background

								.background-image.jarallax(data-jarallax, data-speed="0.8")

									img(loading="lazy", src="assets/img/blog/single-post-video-1920x900.jpg", class="jarallax-img", alt="")

							+video_button

				.row

					.col-12.col-lg-6.offset-lg-3.text-center

						<svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="28" height="24" fill="none"><path fill="currentColor" d="M7.111 11.65 10.333 0h-5L0 12.932V24h11.778V11.65H7.11Zm16.222 0L26.556 0h-5l-5.334 12.932V24H28V11.65h-4.667Z"/></svg>

						blockquote.mt-40.mb-90.px-lg-60 Whales fly cattle all, us saw given moveth rule very thing from him. Fruitful female unto every dominion two all.

				.row.mb-130

					.col-12.col-lg-8.offset-lg-2

						hr.mt-0.mb-25

						.row.justify-content-between.gy-10

							.col-auto

								span.fw-medium.font-size-16.me-8 Tags:

								a(href="#", class="text-decoration-none text-hover-accent-1") Company
								|,&nbsp;
								a(href="#", class="text-decoration-none text-hover-accent-1") Design
								|,&nbsp;
								a(href="#", class="text-decoration-none text-hover-accent-1") Business

							.col-auto

								span.fw-medium.font-size-16.me-10 Share:

								ul.nav.nav-gap-md.d-inline-flex

									li.nav-item

										a(href="#", class="nav-link")

											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="13" fill="none"><path fill="currentColor" d="M5.15 2.158H6.3V.091C6.102.063 5.42 0 4.625 0 2.966 0 1.83 1.077 1.83 3.054v1.821H0v2.31h1.83V13h2.244V7.186H5.83l.28-2.311H4.073V3.283c0-.668.174-1.125 1.076-1.125Z"/></svg>

									li.nav-item

										a(href="#", class="nav-link")

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="none"><path fill="currentColor" d="M14.324 3.849c.01.13.01.262.01.393 0 3.991-3.155 8.59-8.922 8.59a9.11 9.11 0 0 1-4.814-1.355c.252.028.495.038.757.038a6.434 6.434 0 0 0 3.892-1.29c-1.378-.028-2.533-.898-2.931-2.094.194.028.388.046.592.046.281 0 .563-.037.825-.103C2.296 7.794 1.22 6.58 1.22 5.111v-.037a3.25 3.25 0 0 0 1.417.383c-.844-.542-1.398-1.468-1.398-2.515 0-.56.156-1.075.427-1.524C3.21 3.251 5.53 4.448 8.13 4.578a3.288 3.288 0 0 1-.077-.692c0-1.664 1.398-3.02 3.135-3.02.903 0 1.718.365 2.291.954a6.32 6.32 0 0 0 1.99-.729 3.035 3.035 0 0 1-1.378 1.664 6.477 6.477 0 0 0 1.805-.467 6.61 6.61 0 0 1-1.572 1.56Z"/></svg>

									li.nav-item

										a(href="#", class="nav-link")

											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" fill="none"><path fill="currentColor" d="M5.844 0C2.904 0 0 1.919 0 5.024 0 6.998 1.134 8.12 1.822 8.12c.283 0 .447-.774.447-.992 0-.261-.68-.817-.68-1.902 0-2.256 1.754-3.854 4.023-3.854 1.95 0 3.394 1.085 3.394 3.08 0 1.489-.61 4.283-2.586 4.283-.714 0-1.324-.505-1.324-1.229 0-1.06.756-2.087.756-3.18 0-1.858-2.69-1.521-2.69.723 0 .471.06.993.276 1.422-.396 1.666-1.204 4.149-1.204 5.865 0 .53.078 1.052.13 1.582.097.107.048.096.197.043 1.444-1.936 1.392-2.315 2.045-4.848.353.657 1.264 1.01 1.985 1.01C9.634 10.123 11 7.22 11 4.603 11 1.818 8.542 0 5.844 0Z"/></svg>

			.bg-linear-gradient.py-120

				.container

					h2.text-center Related posts

					.swiper.mt-90(data-swiper-slides="1", data-swiper-breakpoints="828:2, 1024:3", data-swiper-gap="30", data-swiper-grabcursor="true")

						.swiper-container

							.swiper-wrapper

								.swiper-slide

									+card_blog({
										date: "Sep 25, 2021",
										style: "style-2",
										category: "Company",
										title: "Over the every fill. Deep given, together living life won't.",
										image: "assets/img/blog/related-post-1-900x800.jpg",
										imageHeight: "90%"
									})

								.swiper-slide

									+card_blog({
										date: "Sep 19, 2021",
										style: "style-2",
										category: "Business",
										title: "Stars, them so grass gathered shall can't day god cattle.",
										image: "assets/img/blog/related-post-2-900x800.jpg",
										imageHeight: "90%"
									})

								.swiper-slide

									+card_blog({
										date: "Sep 07, 2021",
										style: "style-2",
										category: "Marketing",
										title: "Lights made seas the whose dominion lesser winged.",
										image: "assets/img/blog/related-post-3-900x800.jpg",
										imageHeight: "90%"
									})

								.swiper-slide

									+card_blog({
										date: "Sep 25, 2021",
										style: "style-2",
										category: "Company",
										title: "Over the every fill. Deep given, together living life won't.",
										image: "assets/img/blog/related-post-4-900x800.jpg",
										imageHeight: "90%"
									})

						.swiper-button-prev.swiper-button-position-1.swiper-button-white.shadow.mt-n90

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

						.swiper-button-next.swiper-button-position-1.swiper-button-white.shadow.mt-n90

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug